body {
    font-family: sans-serif;
    font-family: 'Arial Narrow Bold', sans-serif; 
    padding: 10px;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    background-color: #9cea8b;
    text-align: center;
    font-family: Impact;
}

#recipelist {
    background-color: #9cea8b;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#homeimage {
    max-width: auto;
    width: 600px;
    max-height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  button {
    background-color: #9cea8b;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }